projects/**/container_scripts/containers/**/variables/settings.sh
projects/**/container_scripts/containers/**/image/existing_image_vars
projects/**/PROJECT_SETTINGS
projects/**/settings_files
projects/**/settings_files/**/*
LICENSE