projects/**/PROJECT_SETTINGS
projects/**/settings_files
projects/**/settings_files/**/*
LICENSELICENSE
options
podbash_readme.png
podbash_readme.xcf
podbash.sh
projects
README.md
scripts
LICENSE
options
podbash_readme.png
podbash_readme.xcf
podbash.sh
projects
README.md
scripts
/var/home/dev/src/podbash_test/podbash/projects/demo_2_std_user/container_scripts/systemd/unit_files/manage_start.service
/var/home/dev/src/podbash_test/podbash/projects/demo_2_std_user/container_scripts/systemd/unit_files/qcluster_start.service
/var/home/dev/src/podbash_test/podbash/projects/demo_2_std_user/container_scripts/systemd/unit_files/pod-podbash_test_pod.service
/var/home/dev/src/podbash_test/podbash/projects/demo_2_std_user/container_scripts/systemd/unit_files/container-maria_cont.service
/var/home/dev/src/podbash_test/podbash/projects/demo_2_std_user/container_scripts/systemd/unit_files/container-clamav_cont.service
